/*DAILY ACTIVITY CHART : GLOBAL*/
.dailyActivity-chart {
  width: 100%;
  margin-bottom: 40px;
  padding: 15px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.dailyActivity-chart-title {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.dailyActivity-chart-legend {
  color: #74798c;
}

/*DAILY ACTIVITY CHART : KG/KCAL HOVER*/
.customtooltip li {
  color: white;
  text-align: center;
}

.customtooltip-kg {
  background-color: #282d30;
  padding: 10px;
}

.customtooltip-kcal {
  background-color: #e60000;
  padding: 10px;
}
