/*DASHBOARD GLOBAL*/
.dashboard-main {
  flex-grow: 1;
  width: 100%;
  padding-left: 155px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
}

/*WELCOMING USER*/
.welcome-section {
  padding-top: 115px;
  margin-bottom: 50px;
}

.welcome-user {
  font-size: 40px;
  margin-bottom: 10px;
}

.username {
  color: #ff0101;
  font-size: 40px;
}

.welcome-msg {
  font-size: 18px;
  font-weight: 400;
}

/*CHARTS ALL*/
.allDatas-section {
  display: flex;
  justify-content: space-between;
}
.charts-section {
  width: 75%;
  margin: 0;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*MEDIA QUERIES TABLET 1024 * 780*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .welcome-section {
    text-align: center;
  }

  .allDatas-section {
    display: block;
  }

  .charts-section {
    width: 100%;
  }

  .nutritionalValues {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .values {
    padding: 15px;
    margin: 10px;
  }
}
