/*HOMEPAGE W- LINKS TO ACCESS USER PROFIL*/
.homepage {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  background: black;
}
.banner-logo {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-profile {
  padding: 55px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-logo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.homepage-userName {
  text-align: center;
}

/*MEDIA QUERIES TABLET 1024 * 780*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .homepage {
    width: 70%;
  }

  .homepage-userName {
    font-size: 30px;
  }
}
