/*NUTRITIONAL VALUES DATAS*/
.values {
  padding: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.values-txt {
  padding: 5px;
  margin-left: 10px;
  text-align: center;
}

.values-qty {
  font-weight: bold;
  font-size: 22px;
}

.values-type {
  font-size: 18px;
  color: #9b9eac;
}
